.data-grid-display {
  display: flex;
  align-items: center;
  margin-left: 60px;
  padding: 10vh 0;
  table {
    text-align: center;
    thead {
      font-weight: 600;
    }
    th,
    td {
      column-width: 110px;
      border-bottom: 1px solid lightgrey;
      padding: 20px 30px;
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: left;
    }
    th:last-child,
    td:last-child {
      padding-right: 300px;
      display: flex;
      justify-content: center;
    }
  }
}
