.NavBar {
  background-color: #80c4b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15vh;
}

.NavBar .menu-item {
  text-align: center;
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.NavBar .menu-item:hover {
  color: lightgrey;
  background-color: darkslategrey;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.NavBar .selected {
  background-color: black;
  color: white;
  font-weight: 600;
  -webkit-transition: ease-in-out 0.43;
  transition: ease-in-out 0.43;
}

.NavBar .selected:hover {
  background-color: black;
  color: gray;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.data-grid-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
  padding: 10vh 0;
}

.data-grid-display table {
  text-align: center;
}

.data-grid-display table thead {
  font-weight: 600;
}

.data-grid-display table th,
.data-grid-display table td {
  -webkit-column-width: 110px;
          column-width: 110px;
  border-bottom: 1px solid lightgrey;
  padding: 20px 30px;
}

.data-grid-display table th:nth-child(1),
.data-grid-display table td:nth-child(1) {
  text-align: left;
}

.data-grid-display table th:last-child,
.data-grid-display table td:last-child {
  padding-right: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-alert {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-alert div {
  width: 300px;
  height: 100px;
  border: 1px solid darkred;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-alert div h1 {
  color: white;
  background-color: darkred;
  text-align: center;
  height: 40px;
}

.error-alert div p {
  padding-top: 15px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.user-ball {
  height: 45px;
  width: 45px;
  background-color: #80c4b9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: white;
}

.App {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  grid-auto-flow: row;
}
/*# sourceMappingURL=App.css.map */